In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('Indicators/Indicators.csv')
df.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

# Déterminez le nombre d'enregistrements

In [3]:
df.shape

(5656458, 6)

# Déterminez le nombre de pays (zones géographiques)

In [4]:
len(df['CountryName'].unique())

247

# Déterminez la plage des années traitées par ce jeu de données

In [5]:
df['Year'].max() , df['Year'].min()

(2015, 1960)

In [6]:
df.columns

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', 'Year',
       'Value'],
      dtype='object')

# Donnez le type des données de la colonne 'Year'

In [7]:
df['Year'].dtype

dtype('int64')

# Quelle données représente la troisième colonne ?

In [8]:
df.columns[2]

'IndicatorName'

# Combien y a-t-il d'enregistrements pour lesquels la colonnes 'Year' a la valeur 1981 ?

In [9]:
len(df[df['Year']==1981])

84374

# Combien y a-t-il d'enregistrement traitant d'une année comprise entre 1976 et 1980 ?

In [19]:
len(df[(df['Year']>1976) & (df['Year']<1980)])

227279

# Quelle est l'année la plus récente dans ce jeu de données ?

In [10]:
df['Year'].max()

2015

# Combien y a-t-il de valeur différentes pour la colonnes 'IndicatorName' ?

In [11]:
len(df['IndicatorName'].unique())

1344

# Quels sont les 5 indicateurs les plus représentés

In [12]:
df['IndicatorName'].value_counts().head(5)

Population, total                           13484
Population growth (annual %)                13442
Rural population (% of total population)    13415
Urban population (% of total)               13415
Urban population                            13374
Name: IndicatorName, dtype: int64

# Combien de fois est représenté le 5ème indicateurs le plus représenté ?

In [13]:
13484

13484

# Combien y a-t-il d'enregistrements concernant la France en 1976

In [14]:
len(df[(df['CountryName']=='France') & (df['Year']==1976)])

362

# Combien y a-t-il de valeurs différentes pour 'IndicatorName' concernant la France en 1976 ?

In [15]:
len(df[(df['CountryName']=='France') & (df['Year']==1976)]['IndicatorName'].unique())

362

# Combien de fois chacun d'eux est-il représenté ?

In [16]:
# En se basant sur les deux questions precedentes on peut dire que c'est une seule fois
df[(df['CountryName']=='France') & (df['Year']==1976)]['IndicatorName'].value_counts()

Adjusted net enrolment rate, primary, both sexes (%)             1
Market capitalization of listed domestic companies (% of GDP)    1
Manufacturing, value added (current LCU)                         1
Manufacturing, value added (constant LCU)                        1
Manufacturing, value added (constant 2005 US$)                   1
                                                                ..
Fixed telephone subscriptions                                    1
Final consumption expenditure, etc. (current US$)                1
Final consumption expenditure, etc. (current LCU)                1
Final consumption expenditure, etc. (constant LCU)               1
Urban population growth (annual %)                               1
Name: IndicatorName, Length: 362, dtype: int64

# Quelle est l'année la plus représentée dans le jeu de données ?
# Combien de fois y apparait-elle ?

In [41]:
df['Year'].value_counts().head(1)

2010    187206
Name: Year, dtype: int64

# Générez un dataframe extrait du dataframe initial restreint aux données relatives aux émissions de CO2 par habitant en France.

In [17]:
data_france=df[(df['CountryName']=='France') & (df['IndicatorName']=="CO2 emissions (metric tons per capita)")].copy()
data_france.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
9579,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,5.793508
34236,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1961,5.927130
61648,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1962,6.207578
90090,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1963,6.844150
118822,France,FRA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1964,6.982957

# Combien ce dataframe contient-il d'enregistrements ?

In [30]:
len(data_france)

52

# Donnez les statistiques suivantes sur ces données (moyenne, écart-type, médiane, minimum, maximum)

In [31]:
data_france['Value'].describe()

count    52.000000
mean      7.010055
std       1.247113
min       5.185043
25%       6.120347
50%       6.618845
75%       7.866798
max       9.666681
Name: Value, dtype: float64

# En quelle année a-t-on pu observer la plus forte valeur d'émission de CO2 par habitant en France ?

In [32]:
data_france[data_france['Value']==data_france['Value'].max()]['Year']

526625    1973
Name: Year, dtype: int64

# Générez un dataframe restreint aux données de la France, extrait du dataframe initial et ayant les caractéristiques suivantes :
    Le dataframe contient trois colonnes nommées respectivement Année, CO2 et PIB
    Ce dataframe possède un enregistrement par année
    Pour chaque enregistrement les colonnes CO2 et PIB contiennent les valeurs respectivement associées aux indicateurs 'CO2 emission per capita' et 'GDP per capita' pour l'année correspondante

In [33]:
co2=df[(df['IndicatorName']=="CO2 emissions (metric tons per capita)") & (df['CountryName']=='France')][['IndicatorName','Year','Value']]
GDP=df[(df['IndicatorName']=="GDP per capita (constant 2005 US$)") & (df['CountryName']=='France')][['IndicatorName','Year','Value']]

In [35]:
Europ=pd.merge(co2,GDP,how='inner',on='Year')[['Value_x','Value_y','Year']]
Europ.columns=['CO2','PIB','Year']
Europ.head()

        CO2           PIB  Year
0  5.793508  11239.278788  1960
1  5.927130  11700.556047  1961
2  6.207578  12306.183054  1962
3  6.844150  12782.509960  1963
4  6.982957  13437.919672  1964

# Faites un travail équivalent pour l'Europe et l'Afrique

In [23]:
def getAfr(s):
    if s.find('Africa')!=-1:
        return True
    return False

In [24]:
co2_Afr=df[(df['IndicatorName']=="CO2 emissions (metric tons per capita)") & (df['CountryName'].apply(getAfr)==True)][['IndicatorName','Year','Value']]
GDP_Afr=df[(df['IndicatorName']=="GDP per capita (constant 2005 US$)") & (df['CountryName'].apply(getAfr)==True)][['IndicatorName','Year','Value']]

In [25]:
Afrique=pd.merge(co2_Afr,GDP_Afr,how='inner',on='Year')[['Value_x','Value_y','Year']]
Afrique.columns=['CO2','PIB','Year']
Afrique.head()

        CO2           PIB  Year
0  0.969101  18290.645168  1960
1  0.969101    302.337296  1960
2  0.860373  18290.645168  1960
3  0.860373    302.337296  1960
4  0.545417  18290.645168  1960

# Donnez le coefficient de corrélation entre CO2 et PIB pour chacun de ces deux dataframes.

Pour Europe

In [36]:
Europ.corr()

           CO2       PIB      Year
CO2   1.000000 -0.505123 -0.569199
PIB  -0.505123  1.000000  0.994122
Year -0.569199  0.994122  1.000000

Pour Afrique

In [27]:
Afrique[['CO2','PIB']].corr()

          CO2       PIB
CO2  1.000000  0.104599
PIB  0.104599  1.000000

In [2]:
conda install -c anaconda git

^C

Note: you may need to restart the kernel to use updated packages.

# Pour chacune de ces deux zones, donnez la moyenne calculée sur l'ensemble des années disponibles du rapport CO2/PIB

Pour Europe

In [28]:
Europ['Moyenne']=Europ['CO2']/Europ['PIB']
Europ.head()

        CO2          PIB  Year   Moyenne
0  5.793508  1007.271069  1960  0.005752
1  5.927130  1084.233077  1961  0.005467
2  6.207578  1193.640478  1962  0.005201
3  6.844150  1319.368488  1963  0.005187
4  6.982957  1444.535909  1964  0.004834

Pour Afrique

In [29]:
Afrique['Moyenne']=Afrique['CO2']/Europ['PIB']
Afrique.head()

        CO2           PIB  Year   Moyenne
0  0.969101  18290.645168  1960  0.000962
1  0.969101    302.337296  1960  0.000894
2  0.860373  18290.645168  1960  0.000721
3  0.860373    302.337296  1960  0.000652
4  0.545417  18290.645168  1960  0.000378